{% extends "CoreApp/master.html" %} 


{% block header_css %}
<link
  href="https://cdn.jsdelivr.net/npm/vuetify@3.7.13/dist/vuetify.min.css"
  rel="stylesheet"
/>
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css" rel="stylesheet">

<style>
  /* Ensure the app takes full height */
  html,
  body {
    height: 100%;
    margin: 0;
    background-color: #f5f5f5;
  }
</style>
{% endblock header_css %} 


{% block layout %}
<div id="app">
    <v-app>
        {% block content %}{% endblock content %}
    </v-app>
</div>

{% endblock layout %}

{% block vendor_js %}
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@3.7.13/dist/vuetify.min.js"></script>

<script>
    const { createApp } = Vue;
    const { createVuetify } = Vuetify;
  
    const vuetify = createVuetify({
      theme: {
        defaultTheme: 'light',
        themes: {
          light: {
            colors: {
              primary: '#1867C0',
              secondary: '#5CBBF6',
              accent: '#005CAF',
            },
          },
        },
      },
    });
</script>
{% endblock vendor_js %}

