{% extends 'CoreApp/molla/molla-layout.html' %}
{% load static %}


{% block page_title %}
    <title>Molla - Online Shop</title>
{% endblock %}


{% block page_css %}
    <link rel="stylesheet" href="{% static 'CoreApp/molla/assets/css/demos/demo-14.css' %}">
    <link rel="stylesheet" href="{% static 'CoreApp/molla/assets/css/skins/skin-demo-14.css' %}">
    <link rel="stylesheet" href="{% static 'HomeApp/css/custom.css' %}">
{% endblock %}


{% block header %}
    {% include 'HomeApp/molla/components/header.html' %}
{% endblock %}


{% block main %}
    {% include 'HomeApp/molla/components/main.html' %}
{% endblock %}


{% block footer %}
    {% include 'HomeApp/molla/components/footer.html' %}
{% endblock %}


{% block mobile_menu %}
    {% include 'HomeApp/molla/components/mobile_menu.html' %}
{% endblock mobile_menu %}


{% block page_js %}
    <script src="{% static 'CoreApp/molla/assets/js/demos/demo-14.js' %}"></script>
{% endblock %}

