# This is a temporary configuration for the initial Let's Encrypt challenge.
# It only listens on port 80 and serves the challenge directory.
server {
    listen 80;
    server_name ${DOMAIN_NAME} ${WWW_DOMAIN_NAME};

    # Let's Encrypt challenge location
    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    # All other requests will be ignored
    location / {
        return 404;
    }
}
