{% load static %}

<!DOCTYPE html>

<html
  lang="{{ APP_LAYOUT_LANGUAGE }}"
  dir="{{ APP_LAYOUT_DIRECTION }}"
>
  <head>
    <title>
      {{ PAGE_META.PAGE_TITLE }}
    </title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <meta name="author" content="{{ META_AUTHOR }}">
    <meta name="description" content="{{ PAGE_META.META_DESCRIPTION }}">
    <meta name="keywords" content="{{ PAGE_META.META_KEYWORDS }}">
    <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#121212" media="(prefers-color-scheme: dark)">

    <!-- Favicon & Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static IMAGE_180x180_PATH %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static IMAGE_32x32_PATH %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static IMAGE_16x16_PATH %}">
    <link rel="shortcut icon" href="{% static APP_FAVICON_PATH %}">
    <meta property="og:title" content="{{ PAGE_META.PAGE_TITLE }}">
    <meta property="og:description" content="{{ PAGE_META.META_DESCRIPTION }}">
    <meta property="og:image" content="{% static PAGE_META.OG_IMAGE_1080x1080_PATH %}">

    <!-- PWA Support -->
    <link rel="manifest" href="assets/images/icons/site.webmanifest">

    <!-- Safari & Windows Tile Support -->
    <link rel="mask-icon" href="{% static SVG_PATH %}" color="#666666">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">

    <!-- Canonical SEO -->
    <link rel="canonical" href="{{ PAGE_META.CANONICAL_URL }}" />
    <meta name="robots" content="{{ PAGE_META.ROBOTS_CONTENT }}">

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static APP_FAVICON_PATH %}"
    />

    <!-- Include the styles partial -->
    {% block header_css %}{% endblock header_css %}
    {% block header_js %}{% endblock header_js %}

    <!--Page CSS-->
    {% block page_css %}{% endblock page_css %}

  </head>

  <body>
    {% include 'CoreApp/components/messages.html' %}
    
    {% block layout %} {% endblock layout %} 

    <!--Vendors Javascript-->
    {% block vendor_js %} {% endblock vendor_js %}

    <!--Page Javascript-->
    {% block page_js %} {% endblock page_js %}
  </body>
</html>
