{% extends "CoreApp/vue_layout/vue-layout.html" %}
{% load i18n %}
{% load account %}


{% block content %}
<v-container fluid class="fill-height">
  <v-row align="center" justify="center">
    <v-col cols="12" sm="8" md="6" lg="4">
      <v-card class="mx-auto elevation-10 rounded-lg">
        <v-card-item class="text-center mt-8">
          {% include "AuthApp/components/logo.html" %}
          <v-card-title class="text-h4 font-weight-bold">
            {% trans "Password Changed Successfully" %}
          </v-card-title>
          <v-card-subtitle>
            {% trans "Your password has been changed. You can now login with your new password." %}
          </v-card-subtitle>
        </v-card-item>

        <v-card-text class="pa-4 text-center">
          <v-icon
            icon="mdi-check-circle"
            size="64"
            color="success"
            class="mb-4"
          ></v-icon>

          <v-btn
            color="primary"
            href="{% url 'account_login' %}"
            block
            size="large"
          >
            {% trans "Sign In" %}
            <v-icon end icon="mdi-login"></v-icon>
          </v-btn>
        </v-card-text>
      </v-card>

      {% include "AuthApp/components/footer.html" %}
    </v-col>
  </v-row>
</v-container>
{% endblock content %}

{% block page_js %}
<script>
    const app = createApp({
        delimiters: ["[[", "]]"],
        data() {
            return {};
        }
    });

    app.use(vuetify).mount("#app");
</script>
{% endblock page_js %} 